S3method(boot_func,gauss_fit)
S3method(boot_func,gev_fit)
S3method(boot_func,gpd_fit)
S3method(get_far,default)
S3method(get_far,gpd_fit)
S3method(get_p,gauss_fit)
S3method(get_p,gev_fit)
S3method(get_p,gpd_fit)
S3method(plot,gauss_fit)
S3method(plot,gev_fit)
S3method(plot,gpd_fit)
S3method(print,gauss_fit)
export(boot_func)
export(boot_ic)
export(gauss_fit)
export(gauss_negll)
export(get_far)
export(get_p)
export(gev_fevd)
export(gev_fit)
export(gev_negll)
export(gpd_fevd)
export(gpd_fit)
export(gpd_negll)
export(prof_ic)
export(set_pnt)
importFrom(alabama,auglag)
importFrom(extRemes,fevd)
importFrom(extRemes,levd)
importFrom(extRemes,pevd)
importFrom(extRemes,plot.fevd)
importFrom(extRemes,plot.fevd.mle)
importFrom(parallel,mclapply)
importFrom(parallel,mcmapply)
importFrom(quantreg,predict.rq)
importFrom(quantreg,rq)
